.Paragraf {

    /* -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     /*  -moz-animation: fadein 1s; /* Firefox < 16 */
       /* -ms-animation: fadein 1s; /* Internet Explorer */
         /*-o-animation: fadein 1s; /* Opera < 12.1 */
           /* animation: fadein 1s;

   /* width:380px; */
    padding:0.5em;
    border-radius: 2px;
  /*  -webkit-box-shadow: 7px 6px 5px -2px rgba(138,136,138,0.1);
    -moz-box-shadow: 7px 6px 5px -2px rgba(138,136,138,0.1);
    box-shadow: 7px 6px 5px -2px rgba(138,136,138,0.1);
*/
}

.Paragrafe {

   /* -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     /*  -moz-animation: fadein 1s; /* Firefox < 16 */
       /* -ms-animation: fadein 1s; /* Internet Explorer */
         /*-o-animation: fadein 1s; /* Opera < 12.1 */
           /* animation: fadein 1s;

   /* width:380px; */
    padding:0.5em;
    background:#fcfcfc;
    font:#999;
    font-weight: bold;    /* Peu del paragraf amb la hora i els chequins. */

   /* -webkit-box-shadow: 7px 6px 5px -2px rgba(138,136,138,0.31);
    -moz-box-shadow: 7px 6px 5px -2px rgba(138,136,138,0.31);
    box-shadow: 7px 6px 5px -2px rgba(138,136,138,0.31);
*/
}

.Animation {
     -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.3s; /* Firefox < 16 */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera < 12.1 */
            animation: fadein 0.3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.Typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  animation: 
    typing 1s steps(40, end)
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



.messages {
  overflow: auto;
  width: 100vw;
  max-height: 100vh;
  padding: 1rem .9rem;
}
.bubble {
  overflow: hidden;
  display: inline-block;
  margin: 0 0 .125rem 0;
  padding: .5rem .85rem;
  line-height: 1.25rem;
  border-radius: 1.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s;
}
.bubble.left.cornered {
  border-bottom-left-radius: 0;
}
.bubble.left {
  background: rgba(206,206,206,0.50);
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -.5rem;
  width: .5rem;
  height: .5rem;

  background-size: .5rem .5rem;
  background-position: .5rem 0;
  background-repeat: no-repeat;
  transition: background-position .15s ease-in;
}
.bubble.cornered:after {
  background-position: 0 0;
}
.bubble span {
  display: block;
}
.bubble span.message {
  opacity: 0;
}
.bubble a {
  color: #0076FF;
}
.bubble .loading {
  position: absolute;
  width: 2.25rem;
  font-size: 2rem;
  line-height: 1rem;
}
.bubble .loading b {
  display: inline-block;
  color: rgba(0,0,0,.5);
}